/vendor
/node_modules
.env
.env.*
storage/logs/*
storage/framework/*
bootstrap/cache/*
docker-data/
.idea
.vscode
aridland-new.sql
app/Repositories/Location/LocationRepository11.php
resources/views/body/materialrequisition/add11.blade.php
public/stimulsoftV2/*.log
public/stimulsoftV2/*.log

